---
import Button from "@/components/astro/Button"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import { CONTACT } from "@/constants/contact"
import { useTranslations } from "@/i18n/utils"
import WhatsApp from "@/ui/icons/WhatsApp.astro"
import { getLocaleFromPath } from "@/utils/locale.utils"

const currentLocale = getLocaleFromPath(Astro.url.pathname)
const t = useTranslations(currentLocale)
const { whatsapp, phones } = CONTACT
const linkToWhatsapp = `${whatsapp.baseLink}${phones.pe.phoneNumber}?text=${encodeURIComponent(whatsapp.pe.message)}`
---

<div id="banner">
	<MaxContainer>
		<div class="container">
			<div class="info">
				<h1 class="font-bold">{t("banner.title")}</h1>
				<p class="text-center sm:text-start">
					{t("banner.description")}
				</p>
			</div>
			<div class="cta w-full sm:w-fit">
				<Button
					type="secondary"
					href={linkToWhatsapp}
					icon={WhatsApp}
					className="w-full! sm:w-fit!">{t("banner.contact")}</Button
				>
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#banner {
		& .container {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: space-between;
			align-items: center;
			padding-block: 3rem;
			color: var(--white-color);

			& .info {
				& h1 {
					font-size: 1.875rem;
					line-height: 2.25rem;
					margin: 0;
				}

				& p {
					max-width: 28rem;
					margin-top: 1rem;
				}
			}
		}
	}
</style>
