---
import { Picture } from "astro:assets"
import ExternalLinkSVG from "@/assets/svg/external-link.svg"
import Button from "@/components/astro/Button"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import Tag from "@/components/astro/Tag/Tag.astro"
import TitleOfSection from "@/components/astro/TitleOfSection.astro"
import { CONTACT } from "@/constants/contact"
import { getProjects } from "@/constants/projects"
import { useTranslations } from "@/i18n/utils"
import GithubOutline from "@/ui/icons/GithubOutline.astro"
import { getLocaleFromPath } from "@/utils/locale.utils"

const currentLocale = getLocaleFromPath(Astro.url.pathname)
const t = useTranslations(currentLocale)
const PROJECTS = getProjects(currentLocale)
---

<div id="projects" class="full-bleed w-full bg-white py-16 sm:py-32">
	<div class="wrapper">
		<div class="flex flex-col items-center text-center">
			<TitleOfSection>{t("projects.section")}</TitleOfSection>
			<h2>{t("projects.title")}</h2>
		</div>
		<div class="mt-8">
			<div class="flex h-fit flex-wrap justify-center gap-4">
				{
					PROJECTS.map((project) => (
						<div class="flex max-w-[320px] flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
							<div class="aspect-video overflow-hidden">
								<Picture
									src={project.image}
									alt={project.title}
									formats={["webp", "avif"]}
								/>
							</div>
							<div class="flex flex-1 flex-col justify-between gap-4 border-t border-gray-200 p-4">
								<div class="space-y-2">
									<h3 class="text-base font-bold text-black">
										{project.title}
									</h3>
									<p class="text-sm leading-[140%]">
										{project.description}
									</p>
									<span class="mt-2 flex flex-wrap gap-2">
										{project?.technologies?.map((tag) => (
											<Tag>{tag}</Tag>
										))}
									</span>
								</div>
								<div class="flex justify-between">
									<Button
										href={project?.pageUrl ?? ""}
										disabled={project?.pageUrl === null}
										type="secondary"
										className="hover:bg-(--primary-color-500)! hover:text-white! transition-colors duration-200! hover:border-(--primary-color-700)!"
									>
										<span>{t("projects.viewProject")}</span>
										<ExternalLinkSVG class="w-5 h-5" />
									</Button>
									<Button
										href={project?.codeUrl ?? ""}
										disabled={project?.codeUrl === null}
										type="secondary"
										icon={GithubOutline}
										className="w-11! h-11! px-0!"
									/>
								</div>
							</div>
						</div>
					))
				}
			</div>
			<div class="mt-4">
				<Button
					type="secondary"
					href={CONTACT.social.github}
					icon={GithubOutline}
					className="hover:bg-(--primary-color-500)! hover:text-white! transition-colors duration-200! hover:border-(--primary-color-700)!"
				>
					{t("projects.viewAll")}
				</Button>
			</div>
		</div>
	</div>
</div>
