---
import { Picture } from "astro:assets"
import Button from "@/components/astro/Button.astro"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import Tag from "@/components/astro/Tag.astro"
import TitleOfSection from "@/components/astro/TitleOfSection.astro"
import { PROJECTS } from "@/constants/projects"
import GithubOutline from "@/ui/icons/GithubOutline.astro"
---

<div id="projects">
	<MaxContainer>
		<div class="container">
			<div class="header">
				<TitleOfSection>Proyectos</TitleOfSection>
				<h2>Una selección de mis proyectos recientes y personales</h2>
			</div>
			<div class="content">
				<div class="list">
					{
						PROJECTS.map((project) => (
							<div class="project">
								<div class="thumnail">
									<Picture
										src={project.image}
										alt={project.title}
										formats={["webp", "avif"]}
									/>
								</div>
								<div class="body">
									<div class="info">
										<h3>{project.title}</h3>
										<p class="description">{project.description}</p>
										<span class="tags">
											{project?.technologies?.map((tag) => (
												<Tag>{tag}</Tag>
											))}
										</span>
									</div>
									<div class="links">
										<Button
											href={project?.pageUrl ?? ""}
											disabled={project?.pageUrl === null}
											type="secondary"
										>
											Ver Proyecto
										</Button>
										<Button
											href={project?.codeUrl ?? ""}
											disabled={project?.codeUrl === null}
											type="secondary"
											icon={GithubOutline}
										/>
									</div>
								</div>
							</div>
						))
					}
				</div>
				<div class="all">
					<Button
						type="secondary"
						href="https://github.com/mardecera"
						icon={GithubOutline}>Ver todos los proyectos</Button
					>
				</div>
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#projects {
		width: 100%;
		padding-block: 4rem;
		background-color: white;

		@media only screen and (min-width: 640px) {
			padding-block: 8rem;
		}

		& .container {
			& .header {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			& .content {
				margin-top: 2rem;

				.list {
					display: flex;
					gap: 1rem;
					height: fit-content;
					justify-content: center;
					flex-wrap: wrap;

					& .project {
						background-color: white;
						border: 1px solid #e4e4e7;
						border-radius: 0.5rem;
						max-width: 320px;
						display: flex;
						flex-direction: column;
						overflow: hidden;

						& .thumnail {
							aspect-ratio: 16 / 9;
							overflow: hidden;

							& picture {
								width: 100%;
								height: 100%;

								& img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									object-position: 0% 0%;
									transition: transform 0.2s ease-in-out;
								}
							}
						}

						&:hover {
							& img {
								transform: scale(1.05);
							}
						}

						& .body {
							padding: 1rem;
							display: flex;
							flex-direction: column;
							gap: 1rem;
							flex: 1;
							justify-content: space-between;
							border-top: 1px solid #e4e4e7;

							& .info {
								& h3 {
									font-size: 1rem;
									color: #18181b;
								}

								& .description {
									font-size: 0.875rem;
								}

								& .tags {
									display: flex;
									gap: 0.5rem;
									margin-top: 0.5rem;
									flex-wrap: wrap;
								}
							}

							& .links {
								display: flex;
								justify-content: space-between;
							}
						}
					}
				}

				.all {
					margin-top: 1rem;

					& a {
						margin: 0 auto;
					}
				}
			}
		}
	}
</style>
